<section id="newsletter" class="container landing-page-block">
    <div class="row">
        <div class="col-lg-12">
            <div class="newsletter-container">
                <div class="newsletter-heading">
                    <i class="mail-icon {{ icon }}"></i>
                    <div class="newsletter-heading-text">
                        <h4 class="theme--heading-font">{{ title }}</h4>
                        <p>{{ subtitle }}</p>
                    </div>
                </div>
                <div class="newsletter-form">
                    <input type="text" placeholder="Please enter your email address" />
                </div>
            </div>
        </div>
    </div>
</section>